<main class="album-view container narrow">
     <section class="clearfix">
         <div class="column half">
             <img src="/assets/images/album_covers/01.png" class="album-cover-art">
         </div>
         <div class="album-view-details column half">
             <h2 class="album-view-title">The Colors</h2>
             <h3 class="album-view-artist">Pablo Picasso</h3>
             <h5 class="album-view-release-info">1909 Spanish Records</h5>
         </div>
     </section>
     <table class="album-view-song-list">
       <!-- we show the mouse over with variable hovered and mouseleave with hoevered false -->
       <!-- 5 -->
         <tr class="album-view-song-item" ng-mouseover="hovered = true" ng-mouseleave="hovered = false" ng-repeat="album in album.albums track by $index">
           <!--ng-show the play pause or not depending the hide we put on .css
         and say that if not playing and not hovered over we show play and song number
          and not playing and hovered also we show play "ion-play" and if "playing"
        we show pause "ion-pause"  -->

           <!-- <td class="song-item-number"> -->
           <!-- 5 -->
             <td class="song-item-number">{{ collection.songs.$index }} songs

   <span ng-show="!playing && !hovered">1</span>
   <a class="album-song-button" ng-show="!playing && hovered"><span class="ion-play"></span></a>
   <a class="album-song-button" ng-show="playing"><span class="ion-pause"></span></a>
</td>
             <!-- <td class="song-item-title">Blue</td> -->
             <!-- 5 -->
             <a class="song-item-title"ui-sref="album">{{ album.title }}</a>
             <br/>
             <!-- 5 -->
             <a class="song-item-artist"ui-sref="album">{{ album.artist }}</a>
             <br/>
             <!-- 5 -->
             <a class="song-item-year"ui-sref="album">{{ album.year }}</a>
             <br/>
             <!-- 5 -->
             <a class="song-item-label"ui-sref="album">{{ album.label }}</a>
             <br/>
             <!-- 5 -->
             <td class="song-item-duration">3:31</td>
             <br/>
         </tr>
     </table>
 </main>
 <!--we include the player_bar.html file as a external template
in this album.html  it could be addded to any view -->
<ng-include src="'/templates/player_bar.html'"></ng-include>
