<section class="player-bar" ng-controller="PlayerBarCtrl as playerBar">
     <div class="container">
         <div class="control-group main-controls">
             <a class="previous" ng-click="playerBar.songPlayer.previous()">
  <!-- To trigger the previous method, add an ngClick directive
   to the previous button anchor tag -->
                 <span class="ion-skip-backward"></span>
             </a>
             <a class="play-pause">
               <span class="ion-play"
        ng-show="!playerBar.songPlayer.currentSong.playing"
        ng-click="playerBar.songPlayer.play()">
  </span>
  <span class="ion-pause"
        ng-show="playerBar.songPlayer.currentSong.playing"
        ng-click="playerBar.songPlayer.pause()">
  </span>
             </a>
             <a class="next">
                 <span class="ion-skip-forward"></span>
             </a>
         </div>
         <div class="control-group currently-playing">
             <h2 class="song-name"></h2>
             <h2 class="artist-song-mobile"></h2>
             <h3 class="artist-name"></h3>
             <div class="seek-control">
                 <div class="seek-bar">
                     <div class="fill"></div>
                     <div class="thumb"></div>
                 </div>
  <!--modify the seekBar directive so we can change the playback position of the
   currently playing song.Recall from the previous checkpoint that we've already
    declared scope.value and  scope.max attributes. We'll add these attributes
     to the directive in the view  -->

<!-- <seek-bar value="{{ playerBar.songPlayer.currentTime }}" max="{{ playerBar.songPlayer.currentSong.duration }}"></seek-bar> -->

 <!--we want to specify an external function that the directive will call when the
 seek bar position changes. In doing so, the directive can remain a general
 visualization that supports a broad set of use cases.
Add an attribute named on-change that takes an expression to execute when we change
the value of the seek bar. In this case, we'll pass it a callback that sets the time
 of the song to correspond to the value of the seek bar

 time of the song code:
 var seek = function(time) {
    if (currentSoundFile) {
        currentSoundFile.setTime(time);
    }
 };-->
 <seek-bar value="{{ playerBar.songPlayer.currentTime }}" max="{{ playerBar.songPlayer.currentSong.duration }}" on-change="playerBar.songPlayer.setCurrentTime(value)"></seek-bar>
<!--Note that value passed into the onChange call is not inherently the same as
scope.value. It is a variable that shares the name. We can (and will, shortly) pass
in scope.value as the value that is the argument for this function, but the two are
 not the same by definition
-->
                 <div class="current-time"></div>
                 <div class="total-time"></div>
             </div>
         </div>
         <div class="control-group volume">
             <span class="icon ion-volume-high"></span>
             <div class="seek-bar">
                 <div class="fill"></div>
                 <div class="thumb"></div>
             </div>
         </div>
     </div>
 </section>
